---
layout: main
---

{% include nav %}

<div class="wrapper">
  <article class="article flow">
    <h1>{{ title}}</h1>

    <div class="flow">
      <aside>
        <p>
          <time datetime="{{ date | date: " %Y-%m-%d" }}">{{ date | formatDate }}</time>
          <small>{{ content | readTime }} min read</small>
        </p>

        <div class="article-tags | gap-top-200">
          {% for tag in tags %}
          {% if tag != "posts" %}
          <a href="/tags/{{ tag }}" class="tag">{{ tag }}</a>
          {% endif %}
          {% endfor %}
        </div>
      </aside>

      <section class="article__content | flow">
        {{ content }}
      </section>

      <aside>
	  {% include author %}
        <div class="article-tags | gap-top-200">
          {% for tag in tags %}
          {% if tag != "posts" %}
          <a href="/tags/{{ tag }}" class="tag">{{ tag }}</a>
          {% endif %}
          {% endfor %}
        </div>
      </aside>
    </div>
  </article>
  <section class="comments gap-top-600">
      <form method="post" action="https://roastidio.us/post" target="_blank" class="prose">
	  <input type="hidden" name="url" value="{{ site.url }}{{ page.url }}">
	  <textarea name="content" placeholder="Markdown syntax supported"></textarea>
	  <input class="button" type="submit" value="Roast me at Roastidio.us!">
      </form>
  </sectiom>
</div>
